<h2>Mileage LogBook</h2>

<table>
    <tr>
        <th>Date</th>
        <th>Mileage</th>
        <th>Projected Service Date (Conventional Motor Oil)</th>
        <th>Projected Service Date (Synthetic Motor Oil)</th>
    </tr>
    <tr>
        <td class="date">{{date}}</td>
        <td class="mileage">{{mileage}}</td>
        <td>{{conventional}}</td>
        <td>{{synthetic}}</td>
    </tr>
</table>