<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motor Services</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div>
        <header>
            <h1>Motor Services</h1>
            <img src="/public/images/mileage.jpg">
            <nav>
                {{!-- <ul>
                    <li><a href="/">Home</a></li>
                    {{#loggedIn}}
                    <li class="logout"><a href="/logout" class="logout">Logout</a></li>
                    {{else}}
                    <li><a href="/login">Login</a></li>
                    {{/if}}
                </ul> Commented out to get homepage to display --}}
            </nav>
        </header>
    </div>
    <main>
        {{{ body }}}
    </main>
    
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>