<section>
    <form>
        {{!-- select date --}}
        

        {{!-- enter mileage --}}
        <label>Enter Current Mileage:</label>
        <input name="mileage" type="number" value="">
        
    </form>

    <button type="submit">Submit</button>
</section>

<script src="/javascript/add-mileage.js"></script>