<section>        
    <form id="miles_form">
        {{!-- select date --}}
        <label for="date">Date:</label>
        <input type="date" id="date_miles" name="date_miles" class="form-control miles-input">

        {{!-- enter mileage --}}
        <label>Enter Current Mileage:</label>
        <input name="mileage" type="number" id="miles" class="form-control miles-input" placeholder="30000">

        <button id="add-mileage" class="btn btn-outline-primary miles-input" type="submit">Submit</button>
    </form>
</section>


<h2 class="table-header">Mileage</h2>

<table id="mile_book" class="container-fluid">

    <tr>
        <th>Date</th>
        <th>Mileage</th>
        <th>Projected Service Date (Conventional Motor Oil)</th>
        <th>Projected Service Date (Synthetic Motor Oil)</th>
        <th>Brake Pads</th>
        <th>Tires</th>
        <th>Air Filter</th>
    </tr>
</table>

<script src="/javascript/add-mileage.js"></script>