<section>
    <h5>Update your mileage for more accurate information!</h5>
    <form class="maintenance form">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Update your mileage" aria-label="Mileage update" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Submit</button>
        </div>
    </div>
        
    <form id="miles_form">
        {{!-- select date --}}
        <label for="date">Date:</label>
        <input type="date" id="date_miles" name="date_miles">

        {{!-- enter mileage --}}
        <label>Enter Current Mileage:</label>
        <input name="mileage" type="number" id="miles">

    </form>


    {{!-- <button id="add-mileage" class="btn btn-primary" type="submit">Submit</button> --}}


</section>

    {{!-- <div class="progress-bar"></div> --}}

<h2>Mileage</h2>

<table class="logbook container-fluid">
    <tr>
        <th>Date</th>
        <th>Mileage</th>
        <th>Oil Change</th>
        <th>Windshield Wiper Blades</th>
        <th>Battery</th>
<table id="mile_book">
    <tr>
        <th>Date</th>
        <th>Mileage</th>
        <th>Projected Service Date (Conventional Motor Oil)</th>
        <th>Projected Service Date (Synthetic Motor Oil)</th>
        <th>Brake Pads</th>
        <th>Tires</th>
        <th>Air Filter</th>
    </tr>
</table>

<script src="/javascript/add-mileage.js"></script>