{{!-- need an option to log mileage --}}
{{!-- or to log vehicle cost spend --}}
<form>
    <label class="entry_lbl">What entry are you making today?</label>
    <button id="add-miles" onclick="">Add mileage</button>
    <button id="add-cost">Add a maintenance entry</button>
</form>