  
{{!-- need an option to log mileage --}}
{{!-- or to log vehicle cost spend --}}
<form>
    <label class="entry_lbl">What entry are you making today?</label>
    <button class="welcome-btn add-miles btn-danger">Add mileage</button>
    <button class="welcome-btn add-cost btn-danger">Add a maintenance entry</button>
</form>

<script src="/javascript/welcome.js"></script>