{{!-- need an option to log mileage --}}
{{!-- or to log vehicle cost spend --}}
<form>
    <label class="entry_lbl">What entry are you making today?</label>
    <button class="add-miles" href="/mileage">Add mileage</button>
    <button class="add-cost">Add a maintenance entry</button>
</form>