* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
}


table, th, td {
    border: 1px solid black;
    padding: 7px;
    margin-bottom: 15px;
    text-align: center;
}

header {
    display: block;
    background: rgb(187, 64, 64);
    text-align: center;
    color: black;
    padding: 0 1%;
    margin-bottom: 15px;
    font-variant: small-caps;
    height: auto;
    text-align: center;
}

.invisible {
    width: 192px;
}

.header-text {
    margin: auto;
    text-align: center;
    align-items: center;
    color: black;
}

.header1 {
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(187, 64, 64);
    color: black;
    font-variant: small-caps;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100;
    left: 0;
    bottom: 0;
  }


button {
    background-color: rgb(187, 64, 64);
}

h3 {
    font-family: "Lucida Handwriting";
}

h5 {
    margin: 3px 0 3px 0;
    /* color: black; */
}


form {
    margin: 5px 0 5px 0;
    padding: 20px;
    width: 50%;
    padding: 10px;
    display: grid;
}

form > div {
    margin-bottom: 2%;
    padding: 5px;
}

input {
    width: 220px;
    height: 25px;
}

.entry_lbl {
    padding-bottom: 15px;
    font-size: 24px;
    margin: auto;
}

ul li {
    list-style: none;
}

ul li a:hover {
    color: black;
}

ul li a {
    color: white;
}

.progress-bar {
    width: 80%;
    height: 60px;
    background-color: rgb(109, 202, 202);
    border-radius: 2%;
    justify-content: center;
    margin: 15px auto;
    border: 1px solid aqua;
}

.login-form {
    float: left
}

.signup-form {
    float: right;
}

form h5 {
    text-align: center;
}

.oil-btn {
    width: 48%;
    margin: 15px 0;
}


#miles_form  {
    width: 20%;
    margin: 5px 20px;
}

#miles_form label {
    margin: 5px 0;
}

.miles-input {
    margin: 5px 0;
}


#mile_book {
    margin: auto;
    width: 95%;
}

.table-header {
    margin: 15px auto;
    justify-content: center;
    text-align: center;
} 

.logbook-hbs {
    overflow: auto;
    display: inline-flex;
    width: 100%;
    padding: 20px;
}

.left-form {
    float: left;
    width: 30%;
    margin: 0 auto;
}

.right-form {
    float: right;
    width: 65%;
    margin: 0 auto;
}

#maintenance {
    width: 100%;
}

.nav-links {
    display: inline-flex;
    margin: auto;
    padding: 0;
}

.nav-btn {
    margin: auto 10px;
}

#porsche {
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 0;
}

#welcome-form {
    position: absolute;
    width: 30%;
    margin-left: 20px;
    margin-top: 50px;
}

.welcome-header {
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    position: absolute;
}

.welcome-btn {
    padding: 10px;
    margin: 10px;
    border-style: none;
    border: 1px solid red;
    border-radius: 5%;
    min-height: 200px;
    background-color: white;
}

.welcome-btn h5 {
    padding-bottom: 2px;
}

.welcome-btn p {
    color: black;
    font-size: 14px;
    padding: 2px;
}

.log-table {
    display: none;
}
